/src/BackgroundService/BackgroundService.API/obj
/src/BackgroundService/BackgroundService.Application/obj
/src/BackgroundService/BackgroundService.Domain/obj
/src/BackgroundService/BackgroundService.Infrastructure/obj
/src/BSOFT.Bootstrapper/bin
/src/BSOFT.Bootstrapper/obj
/src/tests/UserManagement.IntegrationTests/obj
/src/tests/UserManagement.IntegrationTests/bin
/src/tests/UserManagement.UnitTests/bin
/src/tests/UserManagement.UnitTests/obj
/src/Shared/Contracts/obj
/src/Shared/Contracts/bin
/src/Shared/Shared.Infrastructure/obj
/src/Shared/Shared.Infrastructure/bin
/src/Shared/Shared.Validation/obj
/src/Shared/Shared.Validation/bin
/src/Modules/UserManagement/Core/Core.Application/bin
/src/Modules/UserManagement/Core/Core.Application/obj
/src/Modules/UserManagement/Core/Core.Domain/obj
/src/Modules/UserManagement/Core/Core.Domain/bin
/src/Modules/UserManagement/UserManagement.API/obj
/src/Modules/UserManagement/UserManagement.API/bin
/src/Modules/UserManagement/UserManagement.Infrastructure/bin
/src/Modules/UserManagement/UserManagement.Infrastructure/obj
/src/Modules/UserManagement/UserManagement.Module/bin
/src/Modules/UserManagement/UserManagement.Module/obj
/src/Modules/PurchaseManagement/Core/PurchaseManagement.Application/bin
/src/Modules/PurchaseManagement/Core/PurchaseManagement.Application/obj
/src/Modules/PurchaseManagement/Core/PurchaseManagement.Domain/obj
/src/Modules/PurchaseManagement/Core/PurchaseManagement.Domain/bin
/src/Modules/PurchaseManagement/PurchaseManagement.API/obj
/src/Modules/PurchaseManagement/PurchaseManagement.API/bin
/src/Modules/PurchaseManagement/PurchaseManagement.Infrastructure/obj
/src/Modules/PurchaseManagement/PurchaseManagement.Infrastructure/bin
/src/Modules/PurchaseManagement/PurchaseManagement.Module/bin
/src/Modules/PurchaseManagement/PurchaseManagement.Module/obj
/src/Modules/MaintenanceManagement/Core/MaintenanceManagement.Application/obj
/src/Modules/MaintenanceManagement/Core/MaintenanceManagement.Application/bin
/src/Modules/MaintenanceManagement/Core/MaintenanceManagement.Domain/obj
/src/Modules/MaintenanceManagement/Core/MaintenanceManagement.Domain/bin
/src/Modules/MaintenanceManagement/MaintenanceManagement.API/obj
/src/Modules/MaintenanceManagement/MaintenanceManagement.API/bin
/src/Modules/MaintenanceManagement/MaintenanceManagement.Infrastructure/bin
/src/Modules/MaintenanceManagement/MaintenanceManagement.Infrastructure/obj
/src/Modules/MaintenanceManagement/MaintenanceManagement.Module/bin
/src/Modules/MaintenanceManagement/MaintenanceManagement.Module/obj
/src/Modules/FixedAssetManagement/Core/FAM.Application/bin
/src/Modules/FixedAssetManagement/Core/FAM.Application/obj
/src/Modules/FixedAssetManagement/Core/FAM.Domain/bin
/src/Modules/FixedAssetManagement/Core/FAM.Domain/obj
/src/Modules/FixedAssetManagement/FAM.API/bin
/src/Modules/FixedAssetManagement/FAM.API/obj
/src/Modules/FixedAssetManagement/FAM.Infrastructure/bin
/src/Modules/FixedAssetManagement/FAM.Infrastructure/obj
/src/Modules/FixedAssetManagement/FixedAssetManagement.Module/obj
/src/Modules/FixedAssetManagement/FixedAssetManagement.Module/bin
/src/BackgroundService/BackgroundService.Infrastructure/bin
/src/BackgroundService/BackgroundService.Domain/bin
/src/BackgroundService/BackgroundService.Application/bin
/src/BackgroundService/BackgroundService.API/bin
